@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i');
@font-face {
	font-family: 'Kato';
	src: url('../fonts/Kato.eot');
	src: url('../fonts/Kato.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Kato.woff2') format('woff2'),
		url('../fonts/Kato.woff') format('woff'),
		url('../fonts/Kato.ttf') format('truetype'),
		url('../fonts/Kato.svg#Kato') format('svg');
	font-weight: normal;
	font-style: normal;
}

%heading--uppercase {
  font-family: 'Kato';
  text-transform: uppercase;
}

%heading--lowercase {
  font-family: 'Kato';
}


$ff: 'Lato', sans-serif;

body {
  font-family: $ff;
  font-weight: 400;
}

.heading__link {
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
    text-decoration: none;
}

.page__title {
  @extend %heading--uppercase;
  @include inuit-font-size(72px, 56px);
  letter-spacing: 1px;
  color: $color-text;
  text-align: center;
  letter-spacing: 3px;
  position: relative;
  margin: 24px 0 48px;
	@media only screen
	and (min-device-width : 768px)
	and (max-device-width : 1024px) {
		  @include inuit-font-size(56px,48px);
	}
  &:after {
    content: '';
    position: absolute;
    display: block;
    height: 4px;
    width: 100px;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background: $bg;
  }
  &--small {
    @include inuit-font-size(28px, 25px);
  }
	&--main {
		position:absolute;
		top: -26px;
		right: 56px;
		text-align: right;
		color: #fff;
		&:after {display: none;}
		@include inuit-font-size(32px, 25px);
		text-shadow: 1px 1px 1px $color-gold;
		pointer-events: all;
		@media only screen
		and (min-device-width : 768px)
		and (max-device-width : 1024px) {
			right: 24px;
		}
		&.gold-text{ text-shadow: none;}
		a {
			text-decoration: none;
			color: inherit;
		}
	}
}

.section__title {
  @extend %heading--uppercase;
  @include inuit-font-size(36px);
  position: relative;
  margin: 24px 0;
  &:after {
    content: '';
    position: absolute;
    display: block;
    height: 4px;
    width: 50px;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background: $bg;
  }
  &--small {
    font-family: $ff;
    font-weight: 900;
    @include inuit-font-size(16px);

  }
}

.article__title {
  @extend %heading--lowercase;
  @include inuit-font-size(36px);
  &--small {
    @include inuit-font-size(24px);
  }
}

.article__intro {
  font-family: $ff;
  @include inuit-font-size(20px, 30px);
  font-weight: 300;
  &--small {
      @include inuit-font-size(14px, 20px);
  }
}

.more .section__intro--small {
	@include inuit-font-size(12px, 1.57);
}

.article {
	img {
		display: block;
		margin: 0 auto;
	}
	h3 {
		font-weight: 900;
    color: #4a4746;
    font-size: 16px;
	}
}
.more .jumbotron__link  {
	background: #fff;
}

.icon-camera {
	height: 33px;
	width: 50px;
	position: relative;
	bottom: -8px;
	path {stroke-width: 1;}
}

.link {
    span {text-decoration: underline;}
}
