.gold-text {
   color:#c3a343;
   -webkit-text-fill-color: transparent;
   background: -webkit-linear-gradient(transparent, transparent),
   $bg repeat;
   -webkit-background-clip: text;
   display: inline-block;
}
