---
events:
- title: "Design of\xa0The\xa0Forbidden City"
  year: 1406
  desc: "Design and engineering starts on\xa0The\xa0Forbidden City"
- title: "Forbidden City Opening"
  year: 1421
  desc: "The\xa0Forbidden City formally opens on\xa0Chinese New Year's Day, and remains the\xa0imperial palace from\xa0The\xa0Ming dynasty to\xa0The\xa0end of\xa0The\xa0Qing dynasty. Located
    in\xa0The\xa0center of\xa0Beijing, it now houses The\xa0Palace Museum. For almost 500 years,
    it served as The\xa0home of\xa0emperors and their households, as well as The\xa0ceremonial
    and political center of\xa0Chinese government. Constructed between 1406 and 1420,
    The\xa0complex consists of\xa0980 buildings and covers 72 ha\xa0(180 acres).The\xa0palace
    complex exemplifies traditional Chinese palatial architecture, and has influenced
    cultural and architectural developments in\xa0East Asia\xa0and elsewhere."
- title: "Lantern Festival Fire"
  year: 1514
  desc: "The\xa0Lantern Festival is a\xa0festival celebrated on\xa0The\xa0fifteenth day of\xa0the\xa0first month in\xa0The\xa0lunisolar year in\xa0The\xa0lunar calendar, marking The\xa0last day
    of\xa0The\xa0lunar New Year celebration. As early as The\xa0Western Han Dynasty (206 BC-AD
    25), it had become a\xa0festival with great significance. The\xa0lanterns symbolize
    The\xa0events of\xa0The\xa0past year, which are then let go. They are almost always red,
    to\xa0symbolize good fortune. During The\xa0Lantern Festival of\xa01514, a\xa0large fire breaks
    out, burning down The\xa0palaces of\xa0Heavenly Purity and Earthly Tranquility."
- title: "Attempt to\xa0Assasinate Emperor Jiajing"
  year: 1542
  desc: "Palace women attempt to\xa0assassinate Emperor Jiajing by choking him, but fail.
    The\xa0attempt was prompted by Jiajing's abuse of\xa0palace women."
- title: "Wei Zhongxian Gains Power"
  year: 1585
  desc: "Wei Zhongxian enters into\xa0service in\xa0The\xa0court of\xa0The\xa0Emperor Tianqi in\xa0the
    Forbidden City. He became one of\xa0The\xa0most powerful and vicious eunuchs in\xa0the
    Ming Dynasty."
- title: "Li Zicheng leads rebel army and ends Ming Dynasty"
  year: 1644
  desc: "The\xa0Battle of\xa0Shanhai Pass, fought on\xa027 May 1644 at Shanhaiguan (山海關) at
    The\xa0eastern end of\xa0The\xa0Great Wall of\xa0China, was a\xa0decisive battle leading to\xa0the
    formation\xa0of\xa0The\xa0Qing dynasty in\xa0China. There, Qing Prince-Regent Dorgon\xa0allied
    with former Ming general Wu Sangui to\xa0defeat rebel leader Li Zicheng of\xa0The\xa0Shun
    dynasty, allowing Dorgon\xa0and The\xa0Manchus to\xa0rapidly conquer Beijing, and replace
    The\xa0Ming dynasty."
- title: Russian Officials Visit Emperror Kangxi
  year: 1695
  desc:
- title: "Box of\xa0Heir Apparent Estabished By Emperor Yongzheng"
  year: 1725
  desc: "Emperor Yongzheng institutes The\xa0system of\xa0The\xa0 Box of\xa0The\xa0Heir Apparent
    to\xa0ensure peaceful succession\xa0of\xa0emperors. He begins The\xa0practice of\xa0concealing
    The\xa0name of\xa0The\xa0designated heir in\xa0a\xa0box kept in\xa0The\xa0Qianqing hall, to\xa0be opened
    only after The\xa0emperor's death."
- title: "Ten Thousand Envoys Came to\xa0Pay Tribute to\xa0Emperor Qianlong"
  year: 1761
  desc: "The\xa0tribute-bringers include Europeans and different types of\xa0Asians, including
    a\xa0group of\xa0Thai emissaries on\xa0elephants. All emphasize The\xa0universal rule of\xa0the
    Chinese monarch."
- title: "The\xa0Future Empress Dowager Cixi  moves into\xa0The\xa0Forbidden City"
  year: 1851
  desc: "Empress Dowager Cixi was a\xa0powerful and charismatic woman who unofficially
    but effectively controlled The\xa0Manchu Qing Dynasty for 47 years, from\xa01861 to
    her death in\xa01908.  Selected as an imperial concubine for The\xa0Xianfeng Emperor
    in\xa0her adolescence, she gave birth to\xa0a\xa0son\xa0in\xa01856. With Xianfeng's death in
    1861, The\xa0young boy became The\xa0Tongzhi Emperor and she became Empress Dowager.
    Cixi ousted a\xa0group of\xa0regents appointed by The\xa0late emperor and assumed regency,
    which she shared with The\xa0Empress Dowager Ci'an. Cixi then consolidated control
    over The\xa0dynasty when, at The\xa0death of\xa0The\xa0Tongzhi Emperor, contrary to\xa0The\xa0dynastic
    rules of\xa0succession, she installed her nephew as The\xa0Guangxu Emperor in\xa01875.
    Although she refused to\xa0adopt Western models of\xa0government, she supported technological
    and military reforms and The\xa0Self-Strengthening Movement. Cixi rejected The\xa0Hundred
    Days' Reforms of\xa01898 as impractical and detrimental to\xa0dynastic power and placed
    The\xa0Guangxu Emperor under house arrest for supporting reformers. After The\xa0Boxer
    Rebellion\xa0and The\xa0invasion\xa0of\xa0Allied armies, external and internal pressures led
    Cixi to\xa0effect institutional changes of\xa0just The\xa0sort she had resisted, and to
    appoint reform-minded officials. The\xa0dynasty collapsed in\xa0late 1911, three years
    after her death, and The\xa0Republican Era\xa0was inaugurated 1 January 1912."
- title: "Burning of\xa0Yuan Ming Yuan Palace"
  year: 1860
  desc: "French and British troops occupy The\xa0Forbidden City and burn and loot the
    Yuan Ming Yuan palace outside Beijing. Yuan Ming Yuan (often referred as The\xa0Old
    Summer Palace) was originally called The\xa0Imperial Gardens, was a\xa0complex of\xa0palaces
    and gardens in\xa0Beijing. It is located 8 kilometres (5.0 mi) northwest of\xa0The\xa0walls
    of\xa0The\xa0Imperial City and was built in\xa0The\xa018th and early 19th century as The\xa0place
    where The\xa0emperors of\xa0The\xa0Qing dynasty resided and handled government affairs
    (The\xa0Forbidden City was used for formal ceremonies). Yuan Ming Yuan Palace was
    known for its extensive collection\xa0of\xa0garden and building architecture, and other
    works of\xa0art. Nearby, and to\xa0The\xa0south, was an extensive imperial hunting park
    known as Nanyuan.  in\xa01860 during The\xa0Second Opium War, two British envoys,
    a\xa0journalist for The\xa0Times and their small escort of\xa0British and Indian troops
    met with The\xa0Royal Prince under a\xa0flag of\xa0truce to\xa0negotiate. They were imprisoned
    and tortured, resulting in\xa0twenty deaths. The\xa0British High Commissioner to\xa0China,
    Lord Elgin, retaliated by ordering The\xa0destruction\xa0of\xa0The\xa0palace, which was then
    carried out by British and French troops."
- title: Empress Dowager Ci'an and Cixi become co-regents
  year: 1861
  desc: "Emperor Xianfeng dies.  Empresses Dowager Ci'an and Cixi become co-regents
    for Emperor Tongzhi. They are appointed joint de facto\xa0regents for The\xa0minor Tongzhi
    Emperor.   Although in\xa0theory she had precedence over Empress Dowager Cixi, Empress
    Dowager Ci'an was in\xa0fact a\xa0self-effacing person\xa0and seldom intervened in\xa0politics
    - unlike Empress Dowager Cixi, who was The\xa0actual master of\xa0China."
- title: Emperor Guangxu's wedding
  year: 1889
  desc: "Emperor Guangxu (14 August 1871 – 14 November 1908) was The\xa0eleventh emperor
    of\xa0The\xa0Qing Dynasty, and The\xa0ninth Qing emperor to\xa0rule over China. His reign
    lasted from\xa01875 to\xa01908, but in\xa0practice he ruled, under Empress Dowager Cixi's
    influence, only from\xa01889 to\xa01898. He initiated The\xa0Hundred Days' Reform, but
    was abruptly stopped when Cixi launched a\xa0coup in\xa01898, after which he was put
    under house arrest until his death."
- title: "Eight-Nation\xa0Alliance loots city"
  year: 1900
  desc: "The\xa0Eight-Nation\xa0Alliance was an alliance of\xa0Austria-Hungary, France, Germany,
    Italy, Japan, Russia, The\xa0United Kingdom, and The\xa0United States, whose military
    forces intervened in\xa0China\xa0during The\xa0Boxer Uprising and relieved The\xa0siege of
    diplomatic legations in\xa0Beijing in\xa0The\xa0summer of\xa01900."
- title: Empress Dowager Cixi dies.
  year: 1908
  desc:
- title: Emperor Xuantong abdicates
  year: 1912
  desc: "Puyi ruled as The\xa0Xuantong Emperor  from\xa01908 until his abdication\xa0on\xa012 February
    1912, after The\xa0successful Xinhai Revolution. From 1 to\xa012 July 1917, he was briefly
    restored to\xa0The\xa0throne as a\xa0nominal emperor by The\xa0warlord Zhang Xun. in\xa01934,
    he was declared The\xa0Kangde Emperor (Kang-te Emperor) of\xa0The\xa0puppet state of\xa0Manchukuo
    by The\xa0Empire of\xa0Japan, and he ruled until The\xa0end of\xa0The\xa0Second Sino-Japanese
    War in\xa01945. After The\xa0People's Republic of\xa0China\xa0was established in\xa01949, Puyi
    was imprisoned as a\xa0war criminal for ten years, wrote his memoirs, and became
    a\xa0member of\xa0The\xa0Chinese People's Political Consultative Conference."
- title: "Puyi leaves The\xa0Forbidden City."
  year: 1924
  desc: "Empress Dowager Longyu endorsed The\xa0Imperial Edict of The\xa0Abdication of\xa0the\xa0Qing Emperor on\xa012 February 1912 under a\xa0deal brokered by Yuan Shikai (a\xa0general
    of\xa0The\xa0Beiyang Army), with The\xa0imperial court in\xa0Beijing and The\xa0Republicans in
    southern China. Signed with The\xa0new Republic of\xa0China, Puyi was to\xa0retain\xa0his
    imperial title and be treated by The\xa0government of\xa0The\xa0Republic with The\xa0protocol
    attached to\xa0a\xa0foreign monarch."
- title: "Forbidden City becomes museum"
  year: 1924
  desc: "On\xa0October 10, 1925 , The\xa0Palace Museum was established in\xa0The\xa0Forbidden City.
    The\xa0large amount of\xa0treasures and curiosities housed there were gradually catalogued
    and put on\xa0public display."
- title: "Japanese invasion\xa0of\xa0China."
  year: 1937
  desc: "The\xa0Second Sino-Japanese War (July 7, 1937 – September 9, 1945), called so
    after The\xa0First Sino-Japanese War of\xa01894–95, was a\xa0military conflict fought primarily
    between The\xa0Republic of\xa0China\xa0and The\xa0Empire of\xa0Japan from\xa01937 to\xa01941. China
    fought Japan, with some economic help from\xa0Germany , The\xa0Soviet Union\xa0 and the
    United States. After The\xa0Japanese attack on\xa0Pearl Harbor in\xa01941, The\xa0war merged
    into\xa0The\xa0greater conflict of\xa0World War II as a\xa0major front of\xa0what is broadly
    known as The\xa0Pacific War. The\xa0Second Sino-Japanese War was The\xa0largest Asian war
    in\xa0The\xa020th century. It also made up more than 50% of\xa0The\xa0casualties in\xa0The\xa0Pacific
    War if The\xa01937–1941 period is taken into\xa0account."
- title: "Forbidden City becomes Heritage Site"
  year: 1987
  desc: "Built between 1406 and 1420, The\xa0complex consists of\xa0980 buildings and covers
    72 ha\xa0(180 acres). The\xa0Forbidden City exemplifies traditional Chinese palatial
    architecture, and has influenced cultural and architectural developments in\xa0East
    Asia\xa0and elsewhere. The\xa0Forbidden City was declared a\xa0World Heritage Site in\xa01987,and
    is listed by UNESCO as The\xa0largest collection\xa0of\xa0preserved ancient wooden structures
    in\xa0The\xa0world."
- title: "Starbucks opens in\xa0The\xa0Forbidden City."
  year: 2000
  desc: "Starbucks opens a\xa0coffee shop near The\xa0Gate of\xa0Heavenly Purity in\xa0The\xa0Forbidden
    City (but, due to\xa0unpopularity over what was seen as a\xa0foreign economic incursion,
    it closed in\xa02007)."
- title: "Numerous visitors visit The\xa0Palace Museum"
  year: 2013+
  desc: "Over 175,000 visitors visit The\xa0Palace Museum in\xa0one day."

---



<main\xa0class="main">

	{{> nav-altered}} {{> history-alt}}




	<div class="frst-container container content-alternate u-padding-bottom-large">
		<!-- frst-left-align/frst-right-align/frst-alternate/frst-date-opposite-->
		<div class="frst-timeline frst-timeline-style-4 frst-alternate">
			<div class="frst-timeline-block frst-timeline-label-block"  data-animation="slideInUp">
				<div class="frst-labels frst-start-label"> <span style="visibility: hidden"> Frst Responsive Timeline</span> </div>
				<!-- .frst-start-label -->
			</div>


			{{#each events}}
					{{#everyOther @index 2}}

						<!-- frst-timeline-block -->
						<div class="frst-timeline-block frst-even-item" data-animation="slideInUp">
							<div class="frst-timeline-img"> <span></span> </div>
							<!-- frst-timeline-img -->
							<div class="frst-timeline-content">
								<div class="frst-timeline-content-inner">
									<div class="side-border">
										<h2>{{year}}</h2> </div>
									<div class="icon-section"><div>{{> svg.symbol-svg}}</div></div>
									<h2>{{title}}</h2>
									<p class="justify">{{desc}}</p>
								</div>
								<!-- frst-timeline-content-inner -->
							</div>
							<!-- frst-timeline-content -->
						</div>
						<!-- frst-timeline-block -->




					{{else}}

						<!-- frst-timeline-block -->
						<div class="frst-timeline-block frst-odd-item" data-animation="slideInUp">
							<div class="frst-timeline-img"> <span></span> </div>
							<!-- frst-timeline-img -->
							<div class="frst-timeline-content">
								<div class="frst-timeline-content-inner">
									<div class="side-border">
										<h2>{{year}}</h2> </div>
									<div class="icon-section"><div>{{> svg.symbol-svg}}</div></div>
									<h2>{{title}}</h2>
									<p class="justify">{{desc}}</p>
									</div>
								<!-- frst-timeline-content-inner -->
							</div>
							<!-- frst-timeline-content -->
						</div>
						<!-- frst-timeline-block -->


					{{/everyOther}}

			{{/each}}


		<!-- frst-timeline -->
	</div>
	<!-- .frst-container -->
	</div>
{{> readmore2}}

</main>
