---
tipsobject:
- desc: "Go in\xa0the\xa0morning. The\xa0Forbidden City limits ticket sales to\xa080,000 per day.
    That\xa0may sound like a\xa0lot, but it\xa0is\xa0not unusual during holidays and special exhibitions
    for\xa0tickets to\xa0sell out by early afternoon. For\xa0example, on a\xa0relatively busy
    Tuesday (today), the\xa0Forbidden City had already sold 44,000 tickets before 10.30am."
- desc: "Skip Mao. 90 percent of visitors approach the\xa0Forbidden City from the\xa0south,
    entering via\xa0Tiananmen. But getting to\xa0that\xa0point usually requires passing through
    long lines and official security checks. You can\xa0avoid these by instead approaching
    from the\xa0east or\xa0west rather than\xa0walking in\xa0under the\xa0big picture of Mao. I prefer
    going through Zhongshan\xa0Park along the\xa0western edge of the\xa0Forbidden City. From
    the\xa0Tiananmen West subway stop, travel north along Nanchang Jie 400 meters to\xa0the\xa0gate of\xa0Zhongshan\xa0Park. Pay the\xa0small (RMB 2-3) entrance fee, walk along the
    moat\xa0to\xa0the\xa0park’s eastern entrance and this\xa0will take you directly to\xa0the\xa0ticketing
    plaza\xa0in\xa0front of the\xa0Forbidden City’s main\xa0entrance. You will still have to\xa0wait
    in\xa0line for\xa0museum security before going inside, but anytime in\xa0Beijing you can
    skip a\xa0line, you save a\xa0lot of time."
- desc: "Bring your passport with you. Leave your lighter at\xa0home. New policies enacted
    in\xa02015 require a\xa0form of national identification for\xa0each ticket purchased. If
    you forget your passport you can\xa0try something else (I had a\xa0client get in\xa0with
    their Colorado driving license) but that\xa0doesn’t always work. The\xa0security checkers
    are also on the\xa0look out for\xa0lighters. Having failed to\xa0convince people that\xa0it's
    probably a\xa0bad idea\xa0to\xa0smoke inside a\xa0600-year-old palace made of wood, the\xa0staff
    have taken the\xa0next logical step: confiscating all lighters at\xa0the\xa0front door."
- desc: "Take water. Drinks inside are massively expensive. A small bottle of water
    in\xa0the\xa0first courtyard is\xa0about 7rmb (as opposed to\xa0the\xa0usual 2rmb), rising to
    15rmb further inside. A not-very-good coffee or\xa0milkshake is\xa0nearer 35rmb. There
    used to\xa0be\xa0a\xa0Starbucks inside the\xa0Forbidden City, but it\xa0was closed by public
    demand."
- desc: "Dress comfortably – there’s not that\xa0much shade (and what\xa0there is\xa0tends to
    be\xa0full of school groups) so dress cool and take sunscreen or\xa0a\xa0parasol. Sensible
    shoes are also worthwhile as you may be\xa0walking for\xa03-4 hours, and be\xa0prepared
    to\xa0marvel at\xa0the\xa0number of people wandering the\xa0cobbled courtyards in\xa04-inch heels."
- desc: "You should be\xa0an\xa0experienced shopper to\xa0know what\xa0something is\xa0worth in\xa0a\xa0Chinese
    market.  Generally the\xa0shopkeeper will start at\xa0ten\xa0times what\xa0you should counteroffer.  You
    could ask strangers what\xa0they would typically pay for\xa0it. Taxi prices are set
    by meter.  Food merchants naturally will jack up the\xa0price for\xa0foreign-looking
    people, so be\xa0sure to\xa0bargain.  Bargaining is\xa0an\xa0art in\xa0China.  If you do not
    care for\xa0it, have someone else buy things for\xa0you."
- desc: "Like anywhere, some tourist attractions are overrated.  Avoid visiting mid-morning
    and mid-afternoon when group bus tours unload hundreds, if\xa0not thousands, of tourists
    to\xa0overrun a\xa0previously enjoyable attraction."
- desc: "Chinese people are delighted if\xa0you make any attempt to\xa0speak Mandarin, even
    if\xa0it’s only a\xa0couple of words.  The\xa0best way to\xa0introduce yourself is\xa0with a
    warm, broad smile.  Even when you might be\xa0upset or\xa0frustrated, smile. It works."
- desc: "Traveling in\xa0China\xa0on its holidays can\xa0be\xa0a\xa0nightmare.  Plan\xa0your trip carefully
    so you know what\xa0to\xa0expect on the\xa0Chinese Official Holidays.  China-briefing.com
    is\xa0a\xa0good source, so search for\xa0the\xa0current year.  While the\xa0holidays may be\xa0the\xa0same from year to\xa0year, even tied to\xa0fixed dates, the\xa0entire holiday period will
    shift.  New schedules are posted in\xa0December, just a\xa0week or\xa0so before the\xa0year
    begins."
- desc: "Anyone who approaches you trying to\xa0practice English should be\xa0greeted with
    a\xa0smile and skepticism.  Most Chinese are shy and will not speak to\xa0you unless
    you speak first.  Those who overtly approach you and make the\xa0first move are likely
    to\xa0be\xa0selling something or\xa0worse.  Many tourists reports scams in\xa0Shanghai, so
    be\xa0friendly but careful. Never ever follow a\xa0stranger anywhere.  Period."
- desc: "Chinese restaurants with lots of foreigners are almost always unauthentic,
    as well as overpriced.  Usually frequented by group tours, these places change
    recipes to\xa0conform to\xa0what\xa0they think are western tastes.  Many middle-class,
    white linen restaurants, hosting families around big round tables, have English
    menus with sometimes humorous translations.  The\xa0more crowded with families it
    is, the\xa0better value and food it\xa0has.  The\xa0menu's color\xa0pictures will help also.  If
    they just showmyou an\xa0English menu, ask to\xa0see both.  They might be\xa0pricing the
    food twice to\xa0five-times higher for\xa0tourists."
- desc: "Luxury goods are expensive in\xa0China, thanks to\xa0a\xa0luxury tax.  Go to\xa0Hong Kong
    to\xa0make a\xa0killing on name-brand bargains.  In China\xa0you can\xa0find some good buys
    in\xa0silk, pearls, jade and handicrafts, but you must study a\xa0bit\xa0to\xa0make sure you
    are getting the\xa0real thing.  Bone porcelain\xa0can\xa0be\xa0a\xa0good buy too, but it\xa0must
    be\xa0carefully packed for\xa0your air travel."
---
<main\xa0class="main">
	{{> nav-altered}} {{> tips-alt}}

 <div class="container">
	 <ol class="tips u-margin-top-huge u-padding-left-none o-list-bare u-margin-bottom-none">
	{{#each tipsobject}}

		<li class="tip u-padding-top-large u-padding-bottom-large o-layout o-layout--center">
			<div class="tip__content o-layout__item u-2/3">
				<p class=" u-margin-none">
					{{desc}}
				</p>
			</div>
			{{> svg.divider-svg }}
		</li>

	{{/each}}
	</ol>
 </div>
 {{>readmore5}}
</main>
