html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
:after,
:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-size: 100%;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}


.frst-container::after {
	content: '';
	display: table;
	clear: both;
}

.frst-timeline {
	position: relative;
}

.frst-right-align {
	text-align: right;
}

.frst-timeline-block {
	position: relative;
	min-height: 16px;
	padding-left: 35px;
	padding-right: 35px;
}

.frst-timeline-block::before {
	content: "";
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
}

.frst-timeline-block:last-child::before {
	display: none;
}

.frst-right-align .frst-timeline-block::before {
	right: 0;
	left: auto!important;
	margin-left: 0 !important;
}

.frst-timeline-block::after {
	content: "";
	display: table;
	clear: both;
}

.frst-date,
.frst-timeline-img i {
	display: block;
}

.frst-timeline-img {
	position: absolute;
	min-width: 1px;
	min-height: 1px;
	left: 0;
	top: 0;
}

.frst-right-align .frst-timeline-img {
	margin-left: 0 !important;
	left: auto!important;
	right: 0;
}

.frst-last-empty-item .frst-timeline-img span {
	vertical-align: top;
}

.frst-timeline-content-inner {
	position: relative;
}

.frst-timeline-content.is-hidden {
	visibility: hidden;
}

.frst-timeline-content.animated {
	visibility: visible;
}

.frst-labels span {
	display: inline-block;
}

.frst-labels {
	padding: 20px 0;
}

.frst-labels.frst-start-label {
	padding-top: 0 !important;
}

.frst-labels.frst-end-label {
	margin-bottom: 0 !important;
}

@media only screen and (min-width:679px) {
	.frst-date-opposite,
	.frst-left-align.frst-date-opposite {
		margin-left: 190px;
	}

	.frst-right-align.frst-date-opposite {
		margin-right: 190px;
		margin-left: 0;
		text-align: right;
	}

	.frst-date-opposite.frst-alternate {
		margin: 0;
	}

	.frst-timeline.frst-alternate.frst-left-align .frst-timeline-content,
	.frst-timeline.frst-alternate.frst-right-align .frst-timeline-content,
	.frst-timeline.frst-date-opposite.frst-left-align .frst-timeline-content,
	.frst-timeline.frst-date-opposite.frst-right-align .frst-timeline-content {
		width: 100%;
	}

	.frst-alternate .frst-timeline-block::before {
		left: 50%;
	}

	.frst-alternate .frst-timeline-img {
		left: 50%!important;
	}

	.frst-alternate .frst-timeline-block.frst-even-item .frst-timeline-content {
		float: right;
	}

	.frst-alternate .frst-timeline-block.frst-odd-item .frst-timeline-content {
		float: left;
	}

	.frst-date-opposite .frst-date {
		position: absolute;
		top: 0;
		text-align: right;
	}

	.frst-alternate .frst-timeline-block.frst-odd-item .frst-timeline-content,
	.frst-alternate.frst-date-opposite .frst-timeline-block.frst-even-item .frst-date,
	.frst-date-opposite.frst-left-align .frst-date,
	.frst-right-align {
		text-align: right;
	}

	.frst-alternate.frst-date-opposite .frst-timeline-block.frst-odd-item .frst-timeline-content .frst-date,
	.frst-date-opposite.frst-right-align .frst-date {
		text-align: left;
	}

	.frst-alternate .frst-timeline-label-block {
		text-align: center;
	}

	.frst-alternate .frst-timeline-label-block .frst-labels span {
		left: 0;
		right: 0;
	}
}
@media only screen and (max-width:678px) {
	.frst-timeline {
		margin-left: 20px;
	}

	.frst-timeline.frst-responsive-right,
	.frst-timeline.frst-right-align {
		margin-right: 20px;
		margin-left: 0;
	}

	.frst-responsive-right .frst-timeline-block::before,
	.frst-responsive-right .frst-timeline-img {
		margin-left: 0 !important;
		left: auto!important;
		right: 0;
	}

	.frst-responsive-right {
		text-align: right;
	}

	.frst-date {
		margin-bottom: 10px;
	}
}

a {
	text-decoration: none;
	transition: all 0.3s ease;
}


.mobile-window .frst-container {
	max-width: 678px;
}

.tablet-window .frst-container {
	max-width: 992px;
}

.frst-container.content-left-align,
.frst-container.content-right-align {
	max-width: 678px;
}

.clearfix::after,
.container::after {
	content: "";
	display: table;
	clear: both;
}


.custom-options {
	overflow: hidden;
	width: 60%;
	margin: 0 auto;
	float: right;
}

.transition-ease {
	transition: all 0.4s ease-out;
}

/*-------- Type- 01 ------*/

.frst-timeline-style-4 .frst-timeline-block::before {
	width: 3px;
	background: $color-gray;
	margin-left: -2px;
	top: 0;
}

.frst-timeline-style-4.frst-right-align .frst-timeline-block::before {
	margin-right: -2px;
}

.frst-timeline-block {
	padding-bottom: 30px;
	padding-left: 45px;
	padding-right: 45px;
}

.frst-timeline-style-4 .frst-timeline-img {
	padding: 0;
	margin-left: -18px;
	top: 30px;
	/*--- Box shadow value --*/
	width: 36px;
	height: 36px;
	color: #fff;
	text-align: center;
	font-size: 24px;
}

.frst-timeline-style-4 .frst-timeline-img span {
	box-shadow: 0 0 0 3px #fff;
	display: inline-block;
	margin: auto;
	padding: 6px;
	min-width: 8px;
	min-height: 8px;
	background: lighten($color-gold,10);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	vertical-align: top;
}

.frst-timeline-style-4 .frst-timeline-img i {
	display: block;
}

.frst-timeline-style-4.frst-right-align .frst-timeline-img {
	margin-right: -18px;
}

.frst-timeline-style-4 .frst-timeline-content {
	color: $color-gray;
}

.frst-timeline-style-4 .frst-date {
	font-weight: 800;
	font-size: 18px;
	margin-bottom: 10px;
	color: $color-gray-dark;
	line-height: 30px;
}

.frst-timeline-style-4 h2 {
	margin: 0;
	font-weight: 900;
	color: $color-gray-dark;
	font-size: 16px;
	width: 71%;
	margin-bottom: 1em;
}

.frst-date-opposite.frst-timeline-style-4 h2 {}

.frst-timeline-style-4 p {
	margin: 0;
	text-align: justify;
	-webkit-hyphens: auto;
	 -moz-hyphens: auto;
 hyphens: auto;
}

.frst-timeline-style-4 .frst-labels span {
	position: relative;
	left: -47px;
	background: #e2e2e2;
	color: $color-gray-dark;
	font-weight: 800;
	padding: 10px 20px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.frst-timeline-style-4.frst-right-align .frst-labels span {
	left: auto;
	right: -47px;
}

.content-alternate .frst-odd-item .frst-timeline-content-inner .side-border,
.content-right-align .frst-odd-item .frst-timeline-content-inner .side-border {
		background: $color-gray;
		position: absolute;
		top: 34px;
		height: 2px;
		right: 90px;
		left: 0;
}

.frst-odd-item .frst-timeline-content-inner {
	width: 100%;
	float: right;
}

.frst-odd-item .frst-timeline-content-inner h2 {
	text-align: left;
}

.frst-even-item .frst-timeline-content-inner {
	width: 100%;
	float: left;
}

.content-right-align .frst-even-item .frst-timeline-content-inner {
	float: right;
}

.content-left-align .frst-even-item .frst-timeline-content-inner,
.content-left-align .frst-odd-item .frst-timeline-content-inner {
	float: left;
}

.content-alternate .frst-even-item .frst-timeline-content-inner h2 {
	text-align: left;
	position: relative;
	left: 25%;
}

.content-alternate .frst-even-item .frst-timeline-content-inner p {
	position: relative;
	width: 71%;
	left: 25%;
}

.content-right-align .frst-even-item .frst-timeline-content-inner h2 {
	text-align: left;
}

.frst-odd-item .frst-timeline-content-inner .side-border h2 {
	position: absolute;
	top: -30px;
	right: 10px;
	font-size: 22px;
	font-weight: 400;
	color: $color-gray;
	text-align: right;
}

.content-alternate .frst-even-item .frst-timeline-content-inner .side-border {
	width: 75%;
	background: $color-gray;
	position: absolute;
	top: 34px;
	height: 2px;
	left: 89px;
}

.content-left-align .frst-even-item .frst-timeline-content-inner .side-border,
.content-left-align .frst-odd-item .frst-timeline-content-inner .side-border {
	width: 75%;
	background: $color-gray;
	position: absolute;
	top: 34px;
	height: 2px;
	left: 89px;
}

.content-left-align .frst-even-item .frst-timeline-content-inner .side-border:before,
.content-left-align .frst-odd-item .frst-timeline-content-inner .side-border:before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-bottom: 0 solid transparent;
	border-right: 12px solid $color-gray;
	position: absolute;
	top: -11px;
	right: -1px;
}

.frst-even-item .frst-timeline-content-inner .side-border:before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-bottom: 0 solid transparent;
	border-right: 12px solid $color-gray;
	position: absolute;
	top: -11px;
	right: -1px;
}

.frst-even-item .frst-timeline-content-inner .side-border h2 {
	position: absolute;
	top: -30px;
	left: 10px;
	font-size: 22px;
	font-weight: 400;
	color: $color-gray;
}

.icon-section {
  div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) rotateY(0);
    width: 44px;
    height: 44px;
    overflow: hidden;

    transition: transform 1s linear;
    .animated & {
        transform: translate(-50%,-50%) rotateY(180deg);
    }
  }
  svg {
    background: #fff;
    mix-blend-mode: lighten;
  }
}



.frst-odd-item .frst-timeline-content-inner .icon-section {
	font-size: 1.5em;
	border: 3px solid $color-gray;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	position: relative;
	margin: 0 auto;
	text-align: center;
	margin-right: 20px;
}

.frst-even-item .frst-timeline-content-inner .icon-section {
	font-size: 1.5em;
	border: 4px solid $color-gray;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	position: relative;
	margin: 0 auto;
	text-align: center;
	margin-left: 20px;
}

.content-right-align .frst-timeline-content-inner .icon-section {
	font-size: 1.5em;
	border: 4px solid $color-gray;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	position: relative;
	margin: 0 auto;
	text-align: center;
	margin-right: 20px;
}

.content-left-align .frst-timeline-content-inner .icon-section {
	font-size: 1.5em;
	border: 4px solid $color-gray;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	position: relative;
	margin: 0 auto;
	text-align: center;
	margin-left: 20px;
}

.content-alternate .frst-even-item .frst-timeline-content-inner .icon-section::before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 17px solid $color-gray;
	position: absolute;
	top: 24px;
	left: -19px;
	transform: rotate(180deg);
}

.content-alternate .frst-even-item .frst-timeline-content-inner .icon-section::after {
	content: "";
	display: block;
	height: 5px;
	border-top: 2px solid $color-gray;
	width: 40px;
	position: absolute;
	top: 30px;
	left: -58px;
}

.content-alternate .frst-odd-item .frst-timeline-content-inner .icon-section::before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 17px solid $color-gray;
	position: absolute;
	top: 25px;
	left: 64px;
}

.content-alternate .frst-odd-item .frst-timeline-content-inner .icon-section::after {
	content: "";
	display: block;
	height: 5px;
	border-top: 2px solid $color-gray;
	width: 40px;
	position: absolute;
	top: 31px;
	left: 80px;
}

.content-right-align .frst-timeline-content-inner .icon-section::before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 17px solid $color-gray;
	position: absolute;
	top: 25px;
	left: 64px;
}

.content-right-align .frst-timeline-content-inner .icon-section::after {
	content: "";
	display: block;
	height: 5px;
	border-top: 2px solid $color-gray;
	width: 40px;
	position: absolute;
	top: 31px;
	left: 79px;
}

.content-right-align .frst-even-item .frst-timeline-content-inner .side-border {
	width: 75%;
	background: $color-gray;
	position: absolute;
	top: 34px;
	height: 2px;
	right: 89px;
}

.content-right-align .frst-even-item .frst-timeline-content-inner .side-border::before,
.content-right-align .frst-odd-item .frst-timeline-content-inner .side-border:before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-bottom: 0 solid transparent;
	border-right: 12px solid $color-gray;
	position: absolute;
	top: -11px;
	left: -1px;
	transform: rotate(90deg);
}

.content-right-align .frst-even-item .frst-timeline-content-inner .icon-section:after {
	content: "";
	display: block;
	height: 5px;
	border-top: 2px solid $color-gray;
	width: 40px;
	position: absolute;
	top: 31px;
	left: 79px;
}

.content-left-align .frst-timeline-content-inner .icon-section::before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 17px solid $color-gray;
	position: absolute;
	top: 24px;
	left: -19px;
	transform: rotate(180deg);
}

.content-left-align .frst-timeline-content-inner .icon-section::after {
	content: "";
	display: block;
	height: 5px;
	border-top: 2px solid $color-gray;
	width: 40px;
	position: absolute;
	top: 30px;
	left: -58px;
}

.frst-timeline-content-inner .icon-section i {
	position: relative;
	top: 12px;
}

/*---------- Responsive part ------------*/
@media(min-width:679px) and (max-width:967px) {
	.content-alternate .frst-even-item .frst-timeline-content-inner,
	.content-alternate .frst-odd-item .frst-timeline-content-inner {
		width: 100%;
	}
}
@media only screen and (min-width:679px) {
	.frst-date-opposite {
		margin-left: 203px;
	}

	.frst-left-align.frst-date-opposite {
		margin-left: 203px;
	}

	.frst-right-align.frst-date-opposite {
		margin-right: 203px;
		margin-left: 0;
	}

	.frst-timeline-style-4.frst-alternate .frst-timeline-content,
	.frst-timeline-style-4.frst-date-opposite .frst-timeline-content {
		width: calc(50% - 44px);
	}

	.frst-timeline-style-4.frst-date-opposite .frst-date {
		left: -248px;
		line-height: 39px;
		width: 160px;
	}

	.frst-timeline-style-4.frst-date-opposite.frst-alternate .frst-timeline-block.frst-odd-item .frst-date,
	.frst-timeline-style-4.frst-date-opposite.frst-right-align .frst-date {
		right: -248px;
		left: auto;
		text-align: left;
	}

	.content-alternate .frst-odd-item .frst-timeline-content-inner .side-border:before,
	.content-right-align .frst-odd-item .frst-timeline-content-inner .side-border:before {
		content: "";
		display: block;
		width: 0;
		height: 0;
		border-top: 12px solid transparent;
		border-bottom: 0 solid transparent;
		border-right: 12px solid $color-gray;
		position: absolute;
		top: -11px;
		left: -1px;
		transform: rotate(90deg);
	}

	.frst-odd-item .frst-timeline-content-inner p {
		position: RELATIVE;
		left: 0;
		width: 71%;
	}

	.content-left-align .frst-even-item .frst-timeline-content-inner h2,
	.content-left-align .frst-odd-item .frst-timeline-content-inner h2 {
		text-align: right;
	}

	.content-left-align .frst-even-item .frst-timeline-content-inner p,
	.content-left-align .frst-odd-item .frst-timeline-content-inner p {
		text-align: left;
		right: -35px;
		float: right;
		position: RELATIVE;
		left: unset;
		width: 77%;
	}

	.content-right-align .frst-even-item .frst-timeline-content-inner p {
		position: RELATIVE;
		left: 0;
		text-align: left;
		width: 71%;
	}
}
@media only screen and (max-width:678px) {
	.frst-timeline-style-4.frst-responsive-right .frst-timeline-block::before {
		margin-right: -3px;
	}

	.frst-timeline-style-4.frst-responsive-right .frst-timeline-img {
		margin-right: -18px;
	}

	.frst-timeline-style-4.frst-responsive-right .frst-labels span {
		left: auto;
		right: -47px;
	}

	.content-alternate .frst-odd-item .frst-timeline-content-inner .side-border {
		width: 75%;
		background: $color-gray;
		position: absolute;
		top: 34px;
		height: 2px;
		left: 89px;
	}

	.content-alternate .frst-odd-item .frst-timeline-content-inner {
		width: 100%;
		float: left;
	}

	.content-alternate .frst-odd-item .frst-timeline-content-inner h2 {
		text-align: left;
		position: relative;
		left: 28%;
	}

	.content-alternate .frst-odd-item .frst-timeline-content-inner p {
		position: RELATIVE;
		right: -30px;
		width: 71%;
		float: right;
	}

	.content-right-align .frst-even-item .frst-timeline-content-inner p,
	.content-right-align .frst-odd-item .frst-timeline-content-inner p {
		position: RELATIVE;
		left: -10px;
		width: 71%;
		float: left;
		text-align: left;
	}

	.content-right-align .frst-even-item .frst-timeline-content-inner .icon-section h2,
	.content-right-align .frst-odd-item .frst-timeline-content-inner .icon-section h2 h2 {
		text-align: left;
		position: relative;
		left: -4%;
	}

	.content-left-align .frst-even-item .frst-timeline-content-inner h2,
	.content-left-align .frst-odd-item .frst-timeline-content-inner h2 {
		text-align: right;
	}

	.content-left-align .frst-even-item .frst-timeline-content-inner p,
	.content-left-align .frst-odd-item .frst-timeline-content-inner p {
		text-align: left;
		right: -35px;
		float: right;
		position: RELATIVE;
		left: unset;
		width: 71%;
	}

	.content-alternate .frst-odd-item .frst-timeline-content-inner .side-border:before {
		content: "";
		display: block;
		width: 0;
		height: 0;
		border-top: 12px solid transparent;
		border-bottom: 0 solid transparent;
		border-right: 12px solid $color-gray;
		position: absolute;
		top: -11px;
		right: -1px;
	}

	.frst-odd-item .frst-timeline-content-inner .side-border h2 {
		position: absolute;
		top: -30px;
		left: 40%;
		font-size: 22px;
		font-weight: 400;
		color: $color-gray;
	}

	.content-alternate .frst-odd-item .frst-timeline-content-inner .icon-section {
		font-size: 1.5em;
		border: 4px solid $color-gray;
		border-radius: 50%;
		width: 70px;
		height: 70px;
		position: relative;
		margin: 0 auto;
		text-align: center;
		margin-left: 20px;
	}

	.content-alternate .frst-odd-item .frst-timeline-content-inner .icon-section::before {
		content: "";
		display: block;
		width: 0;
		height: 0;
		border-top: 7px solid transparent;
		border-bottom: 7px solid transparent;
		border-left: 17px solid $color-gray;
		position: absolute;
		top: 24px;
		left: -19px;
		transform: rotate(180deg);
	}

	.content-alternate .frst-odd-item .frst-timeline-content-inner .icon-section::after {
		content: "";
		display: block;
		height: 5px;
		border-top: 2px solid $color-gray;
		width: 40px;
		position: absolute;
		top: 30px;
		left: -58px;
	}
}
