.tips {
  counter-reset: tip;
}
.tip.tip {

    counter-increment: tip;

  &:last-child {
    padding-bottom: 0 !important;
  }
  div {
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    position: relative;
  }
  div:before {
    content: counter(tip);
    @extend %heading--uppercase;
    @extend .gold-text;
    font-size: 6rem;
    line-height: 115px;
    letter-spacing: 1px;
    color: $color-text;
    text-align: center;
    letter-spacing: 3px;
    position: relative;
    float: left;
    width: 140px;
    height: 140px;
    padding: 8px;
    border: 3px solid transparent;
    border-image: url(../images/border.png) 6;
    box-shadow: $box-shadow;
    margin: -8px 20px 8px -15px;
  }

  div:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 19px;
    width: 120px;
    height: 120px;
    border: 2px solid transparent;
    border-image: url(../images/border.png) 6;
  }
}

.divider {
  overflow:hidden;
  width:100%;
  height: 34px;
  position:relative;
}
.divider svg {
  display: block;
  position: absolute;
  top: 0;
  left:50%;
  transform:translateX(-50%);
  height: 34px;
}
